.header-wrapper {
    background-color: #121212;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__icon,
.header__heading-link .h2,
.header__heading-link:hover .h2,
.header__menu-item,
.header__menu-item:hover,
.header__active-menu-item {
    color: #ffffff;
    text-transform: uppercase;
}

.h1 {
    text-transform: uppercase;
}

.field__input,
.customer .field input {
    border: 1px solid #929292;
    box-shadow: none;
}

.field__input:hover,
.field__input:focus,
.customer .field input:hover,
.customer .field input:focus {
    box-shadow: 0 0 0 .1rem #929292;
}

.field__label,
.customer .field label {
    color: #b6b6b6;
}

.button,
.customer button {
    background: linear-gradient(to left, #ffffff 50%, #121212 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    color: #121212;
    transition: all 0.2s ease-in;
}

.button:not([disabled]):hover,
.shopify-challenge__button:hover,
.customer button:hover {
    background-position: left bottom;
    color: #ffffff;
    transition: all 0.2s ease-in;
}

.button,
.customer button,
.button:not([disabled]):hover,
.shopify-challenge__button:hover,
.customer button:hover {
    border: 0.3rem solid #121212;
    box-shadow: none;
    font-weight: 600;
    text-transform: uppercase;
}

.contact .h1 {
    text-align: center;
}

.contact__button .button {
    width: 100%;
}

.track-order {
    display: flex;
    margin-bottom: 1.5rem;
    position: relative;
}

.track-order__input {
    margin-right: 1.5rem;
}

.our-story__text {
    margin-bottom: 3rem;
}
 
