.header-wrapper {
    background-color: #121212;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__icon,
.header__heading-link .h2,
.header__heading-link:hover .h2,
.header__menu-item,
.header__menu-item:hover,
.header__active-menu-item {
    color: #ffffff;
}


.button {
    background: linear-gradient(to left, #ffffff 50%, #121212 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    color: #121212;
    transition: all 0.2s ease-in;
}

.button:not([disabled]):hover,
.shopify-challenge__button:hover,
.customer button:hover {
    background-position: left bottom;
    color: #ffffff;
    transition: all 0.2s ease-in;
}

.button,
.button:not([disabled]):hover,
.shopify-challenge__button:hover,
.customer button:hover {
    border: 2px solid #121212;
    box-shadow: none;
    font-weight: 600;
    text-transform: uppercase;
}

.contact__button .button {
    width: 100%;
}

.track-order {
    display: flex;
    position: relative;
}

.track-order__input {
    /* border: 2px solid #121212; */
    /* border-radius: 0; */
    /* height: 4.5rem; */
    margin-right: 1rem;
}