.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

/* custom CSS below */

.button {
  background: linear-gradient(to left, #ffffff 50%, #121212 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  color: #121212;
  transition: all 0.2s ease-in;
}

.button:not([disabled]):hover,
.shopify-challenge__button:hover,
.customer button:hover {
  background-position: left bottom;
  color: #ffffff;
  transition: all 0.2s ease-in;
}

.button, 
.button:not([disabled]):hover,
.shopify-challenge__button:hover,
.customer button:hover 
{
  border: 2px solid #121212;
  box-shadow: none;
  font-weight: 600;
  text-transform: uppercase;
}

.contact__button .button {
  width: 100%;
}